/* estilos.css */
:root {
  --color-primario: #010326;
  --color-secundario: #3DF2F2;
  --color-terciario: #5799F7;
  --color-enfasis: #A61723;
  --espaciado: 1.25rem;
}
body {
  max-width: 80rem;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  background: var(--0468-bf, #0455BF);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;

}

html {
  scroll-behavior: smooth;
}


/* Navbar */
.navbar {
  width: 69.375rem; /* El ancho del rectángulo será el 90% del ancho de la ventana */
  height: 4.375rem; /* Altura del rectángulo */
  margin: 0 auto; /* Centra el rectángulo horizontalmente */
  position: fixed; /* El rectángulo se mantendrá en la misma posición incluso al desplazarse */
  top: 0; /* El rectángulo estará en la parte superior de la página */
  left: 0; /* El rectángulo estará alineado a la izquierda */
  right: 0; /* El rectángulo estará alineado a la derecha */
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  border: 1px solid var(--color-secundario);
  background: var(--color-primario);
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}


.navbar-menu a {
  color: var(--5799-f-7, #5799F7);
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.00875rem;
}

.email {
  display: flex;
  align-items: center;
  margin: 0 auto; /* Modificado de margin-left: auto; */
}

.email-icon,
.portfolio__item a {
  color: var(--color-enfasis); /* Cambia esto al color de énfasis que desees */
  font-size: 1.2em; /* Ajusta esto para cambiar el tamaño del icono */
  transition: color 0.3s ease;
}

.email-btn {
  border: none;
  background: inherit;
  color: var(--color-enfasis);
  font-size: 1.2em; /* Ajusta esto para cambiar el tamaño del texto */
  padding: 1px 10px; /* Ajusta esto para cambiar el tamaño del botón */
  cursor: pointer;
  transition: color 0.3s ease;
  float: right;
}

.email:hover .email-icon, 
.email-btn:hover,
.portfolio__item a:hover {
  color: var(--color-secundario); /* Cambia este valor al color que desees para el icono cuando pases el mouse sobre él */

}


.tooltip {
  position: fixed; /* Cambiado de absolute a fixed */
  background-color: var(--color-enfasis);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Evitar que el tooltip bloquee los clics en elementos subyacentes */
}
.tooltip.active {
  opacity: 1;
}

a {
  text-decoration: none;
  font-family:  "IBM Plex Mono";
}

/* Menu de hamburguesa */
.mobile-menu-toggle{
  display: none;
  cursor: pointer;
}

.bar{
  width: 25px;
  height: 3px;
  background-color: var(--color-secundario);
  margin: 6px 0;
}


/* ================== Header ====================*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  gap: 2rem;
  width: 100%;
  background-color: #010326;
  margin-top: 5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-secundario);
  background: var(--color-primario);  
  margin-bottom: 8rem;
  margin-top: 8rem;
}

.header__image {
  width: 50%; /* Ajusta este valor al tamaño que desees */
  border-radius: 50%; /* Esto hará que la imagen tenga bordes redondeados */
  object-fit: cover; /* Esto asegurará que la imagen cubra todo el espacio disponible sin distorsionarse */
  width: 21.875rem;
  height: 21.875rem;
  flex-shrink: 0; /* Esto evitará que la imagen se reduzca en dispositivos pequeños */
}

.heading-primary {
  align-self: stretch;
  color: #FFF;
  font-family: Raleway;
  font-size: 2.75rem;
}
.highlight {
  color: var(--color-secundario);
  font-family: Raleway;
  font-size: 2.75rem;
}
.heading-subtext {
  width: 30.75rem;
  color: var(--3-df-2-f-2, #3DF2F2);
  font-family: "IBM Plex Mono";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.00875rem;
}

.btn {
  border-radius: 0.25rem;
  border: 1px solid var(--color-secundario);
  background: var(--color-primario);
  box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.50);
  display: flex;
  padding: 1.3125rem 4rem;
  align-items: center;
  gap: 0.625rem;
  color: #ffffff; /* Cambia este valor al color que desees para el texto del botón */
  text-align: center; /* Esto centrará el texto dentro del botón */
  text-decoration: none; /* Esto eliminará la decoración del texto (como el subrayado) */
  font-size: 16px; /* Cambia este valor al tamaño de fuente que desees */
  cursor: pointer; /* Esto cambiará el cursor a un puntero cuando pases el mouse sobre el botón */
  transition: background-color 0.3s ease; /* Esto agregará una transición al color de fondo del botón */
}

.btn:hover {
  background-color: #2980b9; /* Cambia este valor al color que desees para el fondo del botón cuando pases el mouse sobre él */
}

.download {
 color:var(--color-enfasis)
}

@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Esto cambiará la dirección de los elementos a columna en dispositivos pequeños */
    height: auto; /* Esto hará que la altura del encabezado sea automática en dispositivos pequeños */
    padding: 2rem; /* Esto agregará un relleno al encabezado en dispositivos pequeños */
    align-items: center; /* Esto centrará los elementos en dispositivos pequeños */
    width: auto;
    text-align: center;
  }
  .header__image {
    order: -1; /* This will make the image appear above the text on small devices */
  }
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}





/* Estilo para el contenedor del footer */
.footer {
  bottom: 0;
  width: 100%;
  background-color: var(--color-primario);
  padding: 0px; /* Ajusta según sea necesario */
  text-align: center;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  border: 1px solid var(--color-secundario);
  background: var(--color-primario);
  z-index: 1;
  margin-top: 1rem;
}

/* Estilo para los iconos de redes sociales dentro del footer */
.footer__social-icons {
  margin: 20px 0;
}

/* Estilo para los enlaces de los iconos de redes sociales dentro del footer */
.footer__social-icons a {
  margin: 0 10px;
  color: var(--color-enfasis); /* Ajusta este color al color de tus enlaces en el navbar */
  text-decoration: none;
}

.footer__text{
  color: var(--color-secundario);
  font-family: "IBM Plex Mono";
  font-size: 16px;
}


/*===================== Portafolio ================== */
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primario);
  border-radius: 0.5rem;
  border: 1px solid var(--color-secundario);
  background: var(--color-primario);
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 8rem;
  margin-top: 8rem;
  
}



.portfolio h2 {
  color: var(--color-secundario);
  font-family: "IBM Plex Mono";
  font-size: 22px;
}

.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primario);
  border-radius: 0.5rem;
  border: 1px solid var(--color-secundario);
  background: var(--color-primario);
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin: 0 auto;
  padding: 1rem;
  height: 250px;
  width: 250px;
  text-align: center; /* Alinea el texto al centro */

}

@media (max-width: 768px){ 
  .portfolio__container {
    gap: 3rem;
  }
  
  .portafolio__item {
    margin-bottom: 4rem;
  }
}
.portfolio__item img {
  width: 50%;
  height: 50%;
  border-radius: 0.5rem;
  object-fit:contain;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  margin-top: 15px ;
  transition: filter 0.3s ease;
}

.portfolio__item:hover img {
  filter: brightness(30%);
}

.portfolio__item h3 {
  color: lightcyan;
  font-family: "IBM Plex Mono";
  font-size: 16px;
}

.portfolio__item a{
  color: var(--color-enfasis);
  font-family: "IBM Plex Mono";
  font-size: 16px;
}

.portfolio__item .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio__item:hover .tags {
  opacity: 1;
}

.portfolio__item .tags span {
  background-color: rgba(221, 12, 12, 0.7);
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-family: "IBM Plex Mono";
  font-size: 12px;
  margin: 0;
}

.portfolio__item .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio__item:hover .tags {
  opacity: 1;
}

.portfolio__item .tags span {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-family: "IBM Plex Mono";
  font-size: 12px;
  margin: 0;
}



/* Worked with */
.worked-with {
  text-align: center; /* Esto centrará el texto y el botón */
  padding: 2rem; /* Esto agregará un padding a la sección */
  display: flex;
  align-items: center;
  padding-top: 0px;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.worked-with h2 {
  color: var(--color-secundario);

}

.worked-with .btn {
  width: 10rem; /* Esto establecerá el ancho del botón */
  height: 3.75rem; /* Esto establecerá la altura del botón */
  display: flex; /* Esto hará que la imagen se centre dentro del botón */
  justify-content: center; /* Esto centrará la imagen horizontalmente */
  align-items: center; /* Esto centrará la imagen verticalmente */
  padding: 0; /* Esto eliminará el padding predeterminado del botón */
  margin-left: 2rem;
}

.worked-with .btn img {
  max-width: 100%; /* Esto hará que la imagen ocupe todo el espacio disponible, pero no más */
  max-height: 100%; /* Esto asegurará que la imagen no se distorsione */
}

h2{
  color: var(--3-df-2-f-2, #3DF2F2);
  font-family: "IBM Plex Mono";
  font-size: 16px;
}

/*================ Contact ====================*/
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primario);
  border-radius: 0.5rem;
  border: 1px solid var(--color-secundario);
  background: var(--color-primario);
  margin-bottom: 8rem;
  margin-top: 8rem;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
  height: 250px;
}

.contact h2 {
  color: var(--color-secundario);
  font-family: "IBM Plex Mono";
  font-size: 16px;
}

.contact p {
  color: white;
  font-family: "IBM Plex Mono";
  font-size: 16px;
}

.contact a{
  color: var(--color-enfasis);
  font-family: "IBM Plex Mono";
  font-size: 16px;
}

.contactme{
  display: flex;
  align-items: center;
  padding: 0 auto;
}

.contact-img{
  width: 50%;
  border-radius: 50%;
  object-fit: cover;
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--color-primario);
  border-radius: 0.5rem;
  border: 1px solid var(--color-secundario);
  background: var(--color-primario);
  margin-top: 5rem;
  margin-bottom: 2rem;
  max-width: 400px;
  margin: -9rem auto 1rem auto;
  padding: 2rem;
  gap: 1rem;
}

@media (max-width: 768px){ 
  .contact-form {
    margin-top: -5rem;
  }
}

.contact-form__campos{
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid var(--color-secundario);
  border-radius: 0.5rem;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  font-family: "IBM Plex Mono";
  font-size: 16px;
  resize: none;
}



.contact-form h2 {
  color: var(--color-secundario);
  font-family: "IBM Plex Mono";
  font-size: 16px;
}

.form__texto {
  color: white;
  font-family: "IBM Plex Mono";
  font-size: 16px;
}

.contact-form button {
  width: auto; /* Ancho automático según el contenido */
  margin-top: 10px; /* Ajusta el margen superior según sea necesario para centrar verticalmente */
  padding: 0.5rem; /* Ajusta el relleno del botón según sea necesario */
  font-size: 16px; /* Reduzca el tamaño de fuente del botón */
  box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total del botón */
  display: block; /* Hace que el botón sea un elemento de bloque para centrar horizontalmente */
  margin-left: auto; /* Centra horizontalmente el botón */
  margin-right: auto; /* Centra horizontalmente el botón */
  border-radius: 0.5rem;
  border: 1px solid var(--color-secundario);
}